<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../public/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <title>Mexican Coffee</title>


</head>

<body id="top">
    <!-- Nav -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg" id="mainNav">
            <div class="container">
                <!-- HB -->
                <a class="navbar-brand js-scroll-trigger home" href="#top">Mexican Coffee</a>
                <!-- Toggler -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu <i class="fa fa-bars"></i></span>
                </button>
                <!-- Navigation -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav-pills text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">PORTFOLIO</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <section class="start" id="start">
        <div class="container text-center">
            <img class="image-start" src="public/cofee-start.jpg">


            <h2 class="uppercase pb-3">WELCOME TO COFFEE BREAK</h2>

            <div class="row justify-content-center align-items-center pb-3">
                <div class="left-line justify-content-end"></div>
                <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                <div class="right-line justify-content-start">
                </div>
            </div>


            <div class="container-p px-50 pb-3">
                <p class="p-1">
                    The best mexican coffee in the world
                </p>
            </div>

            <div class="container-p px-50 pb-3">
                <p class="p-2">
                    In Mexico, coffee is, next to avocado, one of the main agricultural export products, and accounts
                    for about half of agricultural exports and about 5 percent of total Mexican exports.
                </p>
            </div>

        </div>
    </section>


    <!-- PORTFOLIO -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center font-weight-bold ">PORTFOLIO</h2>
            <div class="row justify-content-center align-items-center pb-4">
                <div class="left-line justify-content-end"></div>
                <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                <div class="right-line justify-content-start"></div>
            </div>
            <div class="row center">
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-1.png" alt="coffee-1">
                    </div>
                    <!--MODAL 1-->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">Mexican Hands</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-1.png" alt="coffee-1">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-plus fa-3x"></i></div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-2.png" alt="coffee-2">
                    </div>
                    <!--MODAL 2-->
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">coffee seeds</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-2.png" alt="coffee-2">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal3">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-3.png" alt="coffee-3">
                    </div>
                    <!--MODAL 3-->
                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">hot coffeee</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-3.png" alt="coffee-3">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
                <div class="col-md-6 col-lg-4 p-3 ">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal4">
                        <i class="fa fa-plus fa-3x"></i></div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-4.png" alt="coffee-4">
                    </div>
                    <!--MODAL 4-->
                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">Toast coffee</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-4.png" alt="coffee-4">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
                <div class="col-md-6 col-lg-4 p-3 ">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal5">
                        <i class="fa fa-plus fa-3x"></i></div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-5.png" alt="coffee-5">
                    </div>
                    <!--MODAL 5-->
                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">Coffee plants</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-5.png" alt="coffee-5">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="rounded text-center p-4 plus-hover m-auto" data-toggle="modal" data-target="#myModal6">
                        <i class="fa fa-plus fa-3x"></i></div>
                    <div class="img-item rounded text-center p-4">
                        <img class="img-fluid p-1" src="public/coffee-6.png" alt="coffee-6">
                    </div>
                    <!--MODAL 6-->
                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-border" id="exampleModalLabel">
                                    <div class="justify-content-center align-items-center w-100">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="fa fa-times fa-2x top-close-button"></i>
                                        </button>
                                        <h5 class="text-uppercase w-100 text-center pl-4 pt-5">MMMMMMMMMMMMM</h5>
                                        <div class="row justify-content-center align-items-center pb-2">
                                            <div class="left-line justify-content-end"></div>
                                            <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                                            <div class="right-line justify-content-start"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body no-border pt-0">
                                    <div class="row justify-content-center">
                                        <div class="img-item rounded text-center p-4  m-4 w-75">
                                            <img class="img-fluid p-1" src="public/coffee-6.png" alt="coffee-6">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="text-center pt-4  w-75">
                                            Mexico exports coffee to more than 42 countries, including members of the
                                            European Union, Canada, Germany, Japan, Cuba and the United States. It
                                            should be
                                            noted that during 2016, 53.85 percent of this product was destined for the
                                            neighboring northern country.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center no-border">
                                    <button type="button" class="btn btn-secondary bottom-close-button"
                                        data-dismiss="modal">
                                        <i class="fa fa-times"></i>
                                        Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----->
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about" id="about">
        <div class="container">
            <h2 class="text-center  font-weight-bold ">ABOUT</h2>
            <div class="row justify-content-center align-items-center pb-4">
                <div class="left-line justify-content-end"></div>
                <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                <div class="right-line justify-content-start">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 text-justify izq">
                    <p>The majority of Mexico’s coffee is grown along the Southern border, where mountain ranges and
                        jungles give coffee plants the nutrients and altitude they need to produce stellar beans. Among
                        these regions are the departments of Chiapas, Oaxaca, Pluma, and Veracruz—some of the most
                        well-known origins in the specialty coffee community.</p>
                </div>
                <div class="col-lg-6 col-md-12 text-justify der">
                    <p>But, despite Mexico’s proximity to the US, a large portion of its most prized coffee is actually
                        exported to Europe, and particularly Germany. We still get some excellent Mexican beans, but
                        many of the best-performing farms have had export agreements with European buyers for decades.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <a class="btnAbout btn btn-xl btn-outline-light"
                    href="https://github.com/joanrodriguezhe/LP-MexicanCoffee" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa fa-download"></i> Free Download!
                </a>
            </div>
        </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container text-center">
            <h2 class="uppercase font-weight-bold pb-3">CONTACT US</h2>
            <div class="row justify-content-center align-items-center pb-4">
                <div class="left-line justify-content-end"></div>
                <div class="col-auto"><i class="fa fa-coffee fa-3x"></i></div>
                <div class="right-line justify-content-start">
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <form class="form">
                        <div class="form-group">
                            <label class="label-imput" for="contact_name">Name</label>
                            <input type="text" name="name" class="form-control" id="contact_name"
                                placeholder="Full name" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" required
                                oninput="nameValidator()">
                            <span id="errorname" class="error" hidden>Invalid field</span>
                        </div>


                        <div class="form-group">
                            <label class="label-imput" for="contact_email">Email</label>
                            <input type="email" class="form-control" id="contact_email" name="email" placeholder="Email"
                                required oninput="emailValidate()">
                            <span id="erroremail" class="error" hidden> Invalid emial</span>
                        </div>
                        <div class="form-group">
                            <label class="label-imput" for="contact_phone">Phone</label>
                            <input class="form-control" id="contact_phone" name="phone" placeholder="Phone"
                                pattern="^[0-9]+" required oninput="numberValidator()">
                            <span id="errorphone" class="error" hidden>Invalid Number</span>
                        </div>

                        <div class="form-group">
                            <label class="label-imput" for="contact_message">Message</label>
                            <textarea class="form-control" id="contact_message" name="message" placeholder="Message"
                                oninput="messageValidator()"></textarea>
                            <span id="errormessage" class="error" hidden>Message Invalid</span>

                        </div>
                        <div class="form-group justify-content-center">
                            <button id="contact_submit" type="button" onclick="showMessage()"
                                class="btn-lg float-center">Submit</button>
                        </div>
                    </form>
                </div>
    </section>

    <footer class="footer text-center" id="footer">
        <div class="container-fluid  text-center py-3 px-5" id="container-fluid">
            <div class="row ">

                <div class="col-lg-4 pb-4 ">
                    <h1 class="text-uppercase mb-3">Location</h1>
                    <p>
                        Av.Ricardo Flores Magon #45612 Pte Tepic, <br>
                        Nayarit México. C.P. 63820.
                    </p>
                </div>

                <div class="col-lg-4 pb-4">
                    <h1 class="text-uppercase mb-4">AROUND</h1>
                    <div class="social-container ">
                        <a class="btn-social mx-3" href="http://twitter.com/" target="_blank">
                            <i class="fa fa-twitter fa-3x">
                            </i>
                        </a>
                    </div>


                    <div class="social-container">
                        <a class="btn-social mx-3" href="https://www.facebook.com/wesley.martinchia" target="_blank">
                            <i class="fa fa-facebook fa-3x"></i>
                        </a>
                    </div>

                    <div class="social-container">
                        <a class="btn-social mx-3" href="http://instagram.com/" target="_blank">
                            <i class="fa fa-instagram fa-3x"></i>
                        </a>
                    </div>
                </div>


                <div class="col-lg-4 pb-2">
                    <h1 class="text-uppercase mb-3">About coffee</h1>
                    <p>
                        Coffee is the drink that is obtained from roasted and ground beans from the fruits of the coffee
                        plant. It is a highly stimulating drink because of its caffeine content.
                    </p>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <section class="copyright py-2 text-center text-white ">
            <p>
                Copyright © <strong>Mexican Coffee 2019</strong>
            </p>
        </section>
        <!-- / Copyright -->
    </footer>

    <!-- Back to top button -->
    <a id="button"></a>




    <!-- <script  src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script  src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script  src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->

    <!-- Linea comentada para el evento de Top Button_no interfiere con en navbar -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <!-- Navbar -->
    <script src="public/js/navbar-shrinker.js"></script>
    <!-- Footer -->
    <script src="public/js/button-top.js"></script>

    <script src="public/js/main.js"></script>
    <script src="public/js/contact.js"></script>

</body>

</html>