//*******variables colores generales***********
$color-coffee-white: #ffffff;
$color-coffee-light: #efc3a4;
$color-coffee-turkish: #4b1f0e;
$color-coffee-milk: #be7656;
$color-coffee-mocha: #794028;
$color-coffee-black: #0e0504;

//*******variables opacity***********
$low-opacity: 0.2;
$medium-opacity: 0.4;
$high-opacity: 0.8;
$high-opacity-hover: 0.9;
