.espacio {
  height: 200px; }

#mainNav {
  background-color: #0e0504; }
  #mainNav * {
    color: #fefcfb; }
  #mainNav a {
    font-size: 1.2em; }
  #mainNav .js-scroll-trigger.active,
  #mainNav button {
    background-color: #4b1f0e !important; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none; }
    #mainNav .navbar-brand {
      font-size: 2.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0; }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 2em;
      padding: 12px 0; } }

@media (max-width: 992px) {
  #mainNav a {
    margin: 9px 0 9px;
    font-size: 1em; }
  #mainNav .navbar-brand {
    font-size: 1.5em; }
  #mainNav .js-scroll-trigger.active {
    background-color: transparent !important;
    color: #be7656 !important; } }

.portfolio {
  background-color: #efc3a4;
  color: #0e0504;
  padding-bottom: 70px;
  padding-top: 70px; }
  .portfolio h2 {
    font-size: xxx-large; }
  .portfolio .img-item {
    background: #be7656; }
    .portfolio .img-item img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover; }
  .portfolio .img-item:hover {
    cursor: pointer; }
  .portfolio .left-line, .portfolio .right-line {
    background-color: #0e0504;
    border-radius: 2px;
    height: 4px;
    max-width: 112px;
    width: 25%; }

body {
  font-family: "Dancing Script", cursive; }
