.espacio {
  height: 200px; }

#mainNav {
  background-color: #0e0504; }
  #mainNav * {
    color: #fefcfb; }
  #mainNav a {
    font-size: 1.2em; }
  #mainNav .js-scroll-trigger.active,
  #mainNav button {
    background-color: #4b1f0e !important; }
  #mainNav .navbar-toggler.navbar-toggler-right {
    font-size: x-large; }

@media (max-width: 922px) {
  #mainNav a {
    margin: 9px 0 9px;
    font-size: 1em; }
  #mainNav .navbar-brand {
    font-size: 1.5em; }
  #mainNav .js-scroll-trigger.active {
    background-color: transparent !important;
    color: #be7656 !important; } }

@media (min-width: 922px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none; }
    #mainNav .navbar-brand {
      font-size: 2.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0; }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 2em;
      padding: 12px 0; } }

.portfolio {
  background-color: #efc3a4;
  color: #0e0504;
  padding-bottom: 70px;
  padding-top: 70px; }
  .portfolio h2 {
    font-size: xxx-large; }
  .portfolio .img-item {
    background: #be7656; }
    .portfolio .img-item img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover; }
  .portfolio .img-item:hover {
    cursor: pointer; }
  .portfolio .left-line, .portfolio .right-line {
    background-color: #0e0504;
    border-radius: 2px;
    height: 4px;
    max-width: 112px;
    width: 25%; }

.about {
  background-color: #794028;
  color: #fefcfb;
  padding-bottom: 70px;
  padding-top: 70px;
  font-size: 1.5rem; }
  .about h2 {
    font-size: xxx-large; }
  .about .left-line,
  .about .right-line {
    background-color: #fefcfb;
    border-radius: 2px;
    height: 4px;
    max-width: 112px;
    width: 25%; }

@media (min-width: 576px) {
  .about .izq,
  .about .der {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }

@media (min-width: 768px) {
  .about .izq,
  .about .der {
    padding-left: 2rem !important;
    padding-right: 2rem !important; } }

@media (min-width: 992px) {
  .about .izq {
    padding-left: 10rem !important; }
  .about .der {
    padding-right: 10rem !important; } }

@media (min-width: 1200px) {
  .about .izq {
    padding-left: 12rem !important; }
  .about .der {
    padding-right: 12rem !important; } }

#button {
  display: inline-block;
  background-color: #EFC3A4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }
  #button:hover {
    /* cursor: pointer; */
    background-color: #333; }
  #button:active {
    background-color: #555; }

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff; }

#button.show {
  opacity: 1;
  visibility: visible; }

@media (min-width: 992px) {
  #button {
    display: none; } }

body {
  font-family: "Dancing Script", cursive; }

.container-fluid {
  background-color: #4b1f0e;
  color: #efc3a4; }
  .container-fluid .btn-social {
    display: inline-block;
    background-color: #4b1f0e;
    color: #efc3a4;
    border: 2px solid #efc3a4;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    align-items: center; }
    .container-fluid .btn-social:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid #ffffff;
      color: #ffffff; }

.copyright {
  background: #0e0504;
  color: #ffffff; }
