

//**PORTFOLIO SECTION
#portfolio{
    background-color: $color-coffee-light;
    color: $color-coffee-black;
    padding-bottom: 70px; 
    padding-top: 70px; 
  
    h2{
      font-size: xxx-large;
    }

    h5{
      font-size: x-large;
    }

    .no-border{
      border:none;
    }
  
    .plus-hover{
        align-items: center;
        color: rgba($color-coffee-turkish, 0);
        display: flex;
        height: calc(100% - 32px);
        justify-content: center;
        position: absolute;
        transition: 0.3s;
        width: calc(100% - 32px);
        z-index: 1;

          &:hover{
            background-color: rgba($color-coffee-turkish, $high-opacity-hover);
            color: $color-coffee-light;
            cursor:pointer; 
          }
    }

    .img-item{
      background: $color-coffee-milk;
  
      img{
            border-radius: 50%;
            height: 200px;
            object-fit: cover;       
            width: 200px;
      }
    } 

    .close{
      opacity: 1 !important;
    }

    .top-close-button{
      color: $color-coffee-turkish;
  
      position: absolute;
      right: 3%;
      top: 1%;
      transition: 0.1s;

      &:hover{
        color: $color-coffee-milk;    
      }
    }

    .bottom-close-button{
      background-color: $color-coffee-mocha;
      border-color: $color-coffee-mocha;
      color: $color-coffee-light;
      transition: 0.1s;  
      &:hover{
        background-color:  $color-coffee-turkish;
        border-color: $color-coffee-turkish;
      }


    }

  .left-line, .right-line {
    background-color: $color-coffee-black;
    border-radius: 2px;
    height: 4px;
    max-width: 112px;
    width: 25%;
  } 
  }

  //*****END PORTFOLIO SECTION
  
  